NODE_ENV=
PORT=
APP_URL=

MONGODB_URI=
SESSION_SECRET=

LDAP_MODE=
LDAP_URL=
LDAP_BASE_DN=
LDAP_BIND_DN=
LDAP_BIND_PASSWORD=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=

GMAIL_USER=
GMAIL_APP_PASSWORD=

CRON_ENABLED=
