<% layout = 'layouts/adminLayout' %>
<link rel="stylesheet" href="/css/pages/detalle-recurso.css">

<div class="rd-page">
  <a class="rd-back" href="/admin/recursos">
    <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" width="16" height="16">
      <line x1="19" y1="12" x2="5" y2="12"/>
      <polyline points="12 19 5 12 12 5"/>
    </svg>
    Volver al listado
  </a>
  <%- include('../../partials/_recursoDetalleCore', { modo: 'admin', ejemplares: ejemplares }) %>
</div>
