* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: rgba(255, 239, 158, 0.388);
  color: var(--color-text);

}

a {
  color: var(--color-primary);
  text-decoration: none;
}

button,
input,
select,
textarea {
  font: inherit;
}
